@use '../util' as *;

@mixin maxInline {
	margin: 0 auto;
	max-inline-size: 700px;
}

@include breakpoint(medium) {
	
	.header {
		@include maxInline;

		picture {

			.desktop-overlay {
				visibility: visible;

				position: absolute;
            	top: 0;
            	left: 0;
            	z-index: -1;
				
            	width: 100%;
				
            	background-size: cover;
			}
	
			.mobile-overlay {
				visibility: hidden;
			}
		}

		&__cta {
			flex-flow: row wrap;
			gap: rem(25);
		}
	}

	.about {

		&__section {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(rem(350), 1fr));

			.about__box:nth-of-type(3) {

				> p {
					margin-bottom: 6rem;
				}
			}
		}
	}
  
	.download {
		@include maxInline;
	}

	.services {

		&__subtitle {
			@include maxInline;
		}

		&__container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
			gap: rem(88);

			margin-inline: rem(24);

			@include breakpoint(large) {
				text-align: left;

				margin: 0;
			}

			figure img {
				transform: translateX(-10%);

				max-width: 220%;
			}
		}

		&__aside {

			@include breakpoint(large) {
				text-align: left;
			}
		}
	}

	.design {

		&__subtitle {
			@include maxInline;
		}

		&__hero {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	
	.footer {
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

		&__logo {
			width: rem(65);
			height: rem(65);

			margin: 0;
		}

		&__container {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-evenly;

			width: 60%;
			}
	
		&__box {
			display: flex;
			flex-flow: column nowrap;
			
			> span {
				font-size: rem(16);
		
				padding-block: rem(10);
		
				transition: all 250ms ease-in-out;
		
					&:hover {
						cursor: pointer;
						color: clr(primary, strong-cyan);
					}
				}
		}

		&__social {
			margin-left: 2rem;

			img:not(:first-child) {
				margin-left: 2rem;
			}
		}
	}
}