@use '../util/' as *;
@use '../base/' as *;

.header {
    padding-top: rem(123);
    padding-bottom: rem(84.55);

    text-align: center;

    picture {

        .desktop-overlay {
            @include breakpoint-down(small) {
                visibility: hidden;
            }
        }

        .mobile-overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            
            width: 100%;
            
            background-size: cover;
        }
    }
    
    
    &__container {
        flex-flow: column nowrap;

        figure {
            margin-bottom: rem(75);
        }
    }


    &__title {
        margin-bottom: rem(25);
    }

    &__subtitle {
        margin-bottom: rem(55);
    }

    &__cta {
        @include breakpoint-down(small) {
            flex-flow: column nowrap;
            gap: rem(25);
        }

        transition-property: box-shadow, transform;

        .cta__ios {
            background-color: clr(primary, strong-cyan);
            box-shadow: $box-shadow-ios;

            &:hover {
                box-shadow: 0 8px 30px hsla(172, 50%, 45%, 0.897);
                transform: scale(1.02);
            }
        }

        .cta__mac {
            background-color: clr(primary, light-blue);
            box-shadow: $box-shadow-mac;

            &:hover {
                box-shadow: 0 8px 30px hsla(234, 52%, 52%, 0.897);
                transform: scale(1.02);
            }
        }
    }
}

main {
    text-align: center;
}

.services {
    padding-top: rem(84.5);
    padding-bottom: rem(100);
    
    
    &__heading {
        margin-bottom: rem(25);
    }

    &__subtitle {
        margin-bottom: rem(65);
    }

    &__container {
        @include breakpoint-down(small) {
            flex-flow: column nowrap;
        }

        figure {
            margin-bottom: rem(63);
        }
    }

    &__aside {

        .aside__container {
            
            > h2 {
                margin-bottom: rem(8);
            }
    
            > p {
                margin-bottom: rem(42);
            }
        }

        .aside__container:nth-of-type(3) {
            
            > p {
                margin: 0;
            }
        }
    }
}

.design {
    padding-top: rem(100);
    padding-bottom: rem(70);

    &__heading {
        margin-bottom: rem(24);
    }

    &__subtitle {
        margin-bottom: rem(70);
    }

    &__hero img {
        max-width: 100%;
    }
}


.about {
    padding-top: rem(70);
    padding-bottom: rem(90);

    &__heading {
        margin-bottom: rem(25);
    }

    &__subtitle {
        margin-bottom: rem(95);
    }

    &__section {
        @include breakpoint-down(small) {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(rem(165), 1fr));
            gap: 2rem;

            .about__box:nth-of-type(3) {

                > p {
                    margin-bottom: rem(67.5);
                }
            }
        }

        .about__box {

            > img {
                margin-bottom: rem(38);
                margin-inline: auto;
            }
    
            > h2 {
                margin-bottom: rem(18);
            }
    
            > p {
                margin-bottom: rem(50);
                margin-inline: rem(24);
            }
        }
    } 

    &__sponsers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
        gap: rem(60);
        place-items: center;

        gap: rem(88) rem(20);

        margin-top: rem(67.5);
    }
}

.download {
    padding-top: rem(90);
    padding-bottom: rem(84.5);

    &__heading {
        margin-bottom: rem(25);
    }

    &__subtitle {
        margin-bottom: rem(55);
    }
}

.footer {
    margin-top: rem(84.5);
    padding-block: rem(50);

    background-color: clr(neutral, t-light-blue);
    color: clr(neutral, dark-grayish-blue);

    @include breakpoint-down(small) {
        flex-flow: column nowrap;
   
        &__container {
            display: flex;
            flex-flow: column nowrap;
    
            margin-bottom: rem(55);
        }

        &__box {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                font-size: rem(20);
        
                padding-block: rem(15);
        
                transition: all 250ms ease-in-out;
        
                &:hover {
                    cursor: pointer;
                    color: clr(primary, strong-cyan);
                }
            }
        }
    
        &__logo {
            width: rem(58);
            height: rem(58);
    
            margin-bottom: rem(40);
        }
    
        &__social {
            flex-flow: row nowrap;
    
            > img:not(:first-child) {
                margin-left: rem(34);
            }
    
            .social__icon:hover {
                cursor: pointer;
            }
        }
    }
}


